<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}TeckWahKRTMS{% endblock %}</title>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/main.css" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <div id="app">{% block content %}{% endblock %}</div>

    <script src="/static/js/main.js"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
